.bottominputbox{
    display: flex;
    align-items: center;
    .div{
        svg{
            margin:0 8px;
        }
    }
    .realinputbox{
        width: calc(100% - 150px);
        padding: 5px 8px;
        margin: 5px 8px;
        background-color: #fff;
        border-radius: 8px;
        input{
            width: 100%;
            border: 0;
            &:focus-visible{
                outline: 0!important;
            }
        }
    }
}