@import '../../../sass/sassStyles/variables';
@import '../../../sass/sassStyles/mixins';
.rightboxheader{
    height: 60px;
    background-color: $gray;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 15px;
    border-left: 1px solid $deep_border;
    p{
        @include myfont(15px,400,$main_font);
    }
    .imgbox{
        margin-right: 15px;
        svg{
            width: 40px;
            height: 40px;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}